<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Internet of Things Oriented Network</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div class="jumbotron"><center>
        <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>
      </center></div>
    </body>
</html>