<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Internet of Things Oriented Network</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div><center><h1>Welcome to the Home of ioToN</h1></center></div>
      <hr>
      <div> <center><%= image_tag 'ioToN.png' %> </center></div>
      <div> <center><%= link_to 'About', about_path %> </center></div>

    </body>
</html>